# Backend
SERVER_PORT=8080

# Database
DB_URL=jdbc:postgresql://localhost:5432/learnova_db
DB_USERNAME=learnova_user
DB_PASSWORD=learnova_password

# Security
JWT_SECRET=change-this-secret-later
JWT_EXPIRATION_MS=86400000

# Frontend
VITE_API_BASE_URL=http://localhost:8080/api/v1